.review-card {
    background-color: #e5e5e5;
    padding: 2px 20px 20px 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.review-card__title-owner {
    display: flex;
    flex-direction: column;
}

.review-card__votes-date {
    display: flex;
    flex-direction: column;
}

.review-card__votes {
    display: flex;
    width: 10rem;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
}

@media all and (min-width: 700px) {
    .review-card__title-owner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .review-card__votes-date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .review-card__votes {
        display: flex;
        width: 10rem;
        flex-direction: row;
        justify-content: space-between;
        align-self: flex-end;
    }
}
